/*---------- Main CSS ----------*/
body{
    background-image: url('../assets/images/bg300.png'); /* 300dpi */
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Helvetica World", sans-serif;

    /* To prevent accidental zooming or highlighting text on touchscreens */
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.kiosk-frame {
    width: 1080px;
    height: 1920px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

html, body {
    width: 100vw;
    height: 100vh;
    max-width: 1080px;
    max-height: 1920px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/*---------- Swiper Card ----------*/
.amenities{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: -10rem;
}

.amenities__swiper{
    margin: 20rem 5rem;
    padding-bottom: 5dp;
}

.amenities__card{
    width: 33rem;
    height: 60rem;
    box-shadow: 0 8px 16px hsla(265, 75%, 4%, .5);
    border-radius: 1.5rem;
    text-align: center;
}

.amenities__img{
    max-width: 33rem;
    height: 60rem;
    aspect-ratio: 9/16;
    object-fit: cover;
    border-radius: 1.5rem;
    position: relative;
}

.amenity__name{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2rem;
    text-transform: uppercase;
    font-size: 40px;
    font-weight:600;
    letter-spacing: 1px;
    line-height: 1.3;
    color: #FAFAFA;
    text-shadow:
        1px 1px 2px #3b4b4f,
        0 0 1em #3b4b4f,
        0 0 0.2em #3b4b4f;
    margin-bottom: 15px;
    margin-top:auto;
    width: 100;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 10;
}

/* for the bottom linear-gradient to make amenity name readable*/
.topcard{
    height: 100%;
    width: 34rem;
    border-radius: 15px;
    display: flex;
    position: absolute;
    z-index: 1;
    /* background: linear-gradient(to top, #afcecc, transparent 18%); */
    background: linear-gradient(to top, #262c33, transparent 30%);
    /* background: linear-gradient(to top, #3b4b4f, transparent 30%); */
}

/* Swiper Pagination class */
.amenities .swiper-pagination-bullets {
  bottom: -4rem;
}

.amenities .swiper-pagination-bullet {
  background-color: #17c194;
  transition: opacity .4s;
  align-items: center;
}



/*----------  Video Card Modal Screen CSS  ----------*/
.card-body{
    position: relative;
}

.video-modal-screen {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.85);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.video-modal-screen.active {
    visibility: visible;
    opacity: 1;
}

.video-modal-content {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Forces the video to stretch to fullscreen */
.modal-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    z-index: 0;
}

.vid-modal-close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 50px;       /* You can adjust size here */
    height: 50px;
    background-color: rgba(59, 75, 79, 0.6);
    padding: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    object-fit: contain;
    box-shadow: 0 0 10px rgba(59, 75, 79, 0.8);
    transition: background-color 0.3s ease;
}

.vid-modal-close-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}